* {
    background-color: red;
}

.text {
    color: white;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
    padding: 0 23px;
    width: 900px;
    height: 500px;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toppings {
    height: 450px;
    width: 450px;
    justify-self: flex-start;
    background-color: silver;
}
#pizza {
    display: flex;
    border-radius: 100%;
}

#pizza > div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.crust {
    height: 380px;
    width: 380px;
    border-radius: 100%;
    background-color: rgb(152,36,36);
    border: 15px solid rgb(65,0,0)
}

.cheese {
    height: 360px;
    width: 360px;
    border-radius: 100%;
    background-color: rgb(217, 222, 122);
}
.lines {
    height: 410px;
    width: 5px;
    background-color: black;
    display: block;

}
#line1{
    transform: translate(178px, -25px);
}
#line2 {
    transform: translate(177.5px, -435px) rotate(90deg);
}
#line3 {
    transform: translate(177.5px, -845px) rotate(45deg);
}
#line4 {
    transform: translate(177.5px, -1255px) rotate(135deg);
}


#onions {
    height: 75px;
    width: 75px;
    background-color: ghostwhite;
    border-radius: 100%;
    position: absolute;
    left: 50px;
    top: 455px;
    /* left: 790px;
    top: 675px; */
    
}

#tomatoes {
    height: 75px;
    width: 75px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    left: 50px;
    top: 555px;
    /* left: 750px;
    top: 520px; */
    
    
}

#hots {
    height: 75px;
    width: 75px;
    background-color: green;
    border-radius: 100%;
    position: absolute;
    left: 50px;
    top: 655px;
    /* left: 645px;
    top: 725px; */
    
}