* {
    background-color: rgb(253, 223, 223);
    font-family: 'Press Start 2P', cursive;
}

/* .text {
    color: white;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

.textArea {
    /* border: 1px solid gold; */
    margin: 15px;

    height: 400px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}
.dialogue{
    height: 250px;
    text-align: center;
    background-color: none;
}
.player1Input, .player2Input {
    margin-top: 50px;
    height: 1.5em;
    width: 300px;
    font-size: 1.5em;
    border: 5px solid black;
    background-color: white;
    text-align: center;
    
}
.okButton{
    font-size: 25px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: wheat;
}
.playerScores{

    display: flex;
    
    justify-content: space-around;
    
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    width: 45%;
    padding: 10px;
    border: 5px solid black;
    border-radius: 20px;
}
#player1{
    background-color: lightblue;
}
#player2 {
    background-color: lightgreen;
}

.playerName, .scoreText, span {

    background-color: transparent;
}
.playerName {
    text-align: center;
    font-size: 1.5em;
}

span {
    float: right;
}
.pizzaArea {
    padding: 0 23px;
    width: 900px;
    height: 500px;
    background-color: lightblue;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    border-radius: 20px;
}
.toppingPan {
    height: 450px;
    width: 450px;
    position: relative;
    justify-self: flex-start;
    background-color: silver;
    border: solid grey 5px;
}
#pizza {
    display: flex;
    border-radius: 100%;
}

#pizza > div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.crust {
    height: 380px;
    width: 380px;
    border-radius: 100%;
    background-color: rgb(152,36,36);
    border: 15px solid rgb(65,0,0)
}

.cheese {
    height: 360px;
    width: 360px;
    border-radius: 100%;
    background-color: rgb(217, 222, 122);
}
.lines {
    height: 410px;
    width: 5px;
    background-color: black;
    display: block;

}
#line1{
    transform: translate(178px, -25px);
}
#line2 {
    transform: translate(177.5px, -435px) rotate(90deg);
}
#line3 {
    transform: translate(177.5px, -845px) rotate(45deg);
}
#line4 {
    transform: translate(177.5px, -1255px) rotate(135deg);
}
.topping{
    border: 2px solid black;
}


#onions {
    height: 75px;
    width: 75px;
    background-color: ghostwhite;
    border-radius: 100%;
    position: absolute;
    left: 20px; top: 20px;
}
#onionText{
    width: 0;
    position: absolute;
    left: 20px;
    top: 80px;
}



#tomatoes {
    height: 75px;
    width: 75px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    left: 20px; top: 160px;  
}

#tomatoText{
    width: 0;
    position: absolute;
    left: 20px;
    top: 220px;
}

#hots {
    height: 75px;
    width: 75px;
    background-color: green;
    border-radius: 100%;
    position: absolute;
    left: 20px; top: 300px;
}
#hotsText{
    width: 170px;
    position: absolute;
    left: 20px;
    top: 360px;
}

#broccoli {
    height: 75px;
    width: 75px;
    background-color: darkgreen;
    border-radius: 100%;
    position: absolute;
    left: 120px; top: 80px;
}
#broccoliText{
    width: 0;
    position: absolute;
    left: 120px;
    top: 140px;
}

#pineapple {
    height: 75px;
    width: 60px;
    background-color: yellow;
    position: absolute;
    left: 120px; top: 270px;

}
#pineappleText{
    width: 0;
    position: absolute;
    left: 120px;
    top: 330px;
}

#pepperoni {
    height: 75px;
    width: 75px;
    background-color: rgb(128, 32, 32);
    border-radius: 100%;
    position: absolute;
    right: 120px; top: 20px;
}
#pepperoniText{
    width: 0;
    position: absolute;
    right: 235px;
    top: 80px;
}

#sausage {
    height: 75px;
    width: 75px;
    background-color: rgb(107, 21, 21);
    border-radius: 100%;
    position: absolute;
    right: 120px; top: 160px;  
}

#sausageText{
    width: 0;
    position: absolute;
    right: 215px;
    top: 220px;
}

#ham {
    height: 75px;
    width: 60px;
    background-color: pink;
    border-radius: 70%;
    position: absolute;
    right: 127.5px; top: 300px;
}
#hamText{
    width: 0px;
    position: absolute;
    right: 178.5px;
    top: 360px;
}
#bacon{
    height: 75px;
    width: 60px;
    background-color: rgb(90, 30, 30);
    position: absolute;
    right: 23px; top: 80px;
}
#baconMiddle{
    height: 75px;
    width: 5px;
    background-color: rgb(202, 152, 160);
    position: absolute;
    margin-left: 27.5px;


}
#baconText {
    width: 0;
    position: absolute;
    right: 88px;
    top: 140px;
}

#chicken {
    height: 75px;
    width: 75px;
    background-color: rgb(214, 184, 189);
    border-radius: 100%;
    position: absolute;
    right: 20px; top: 270px;  
}

#chickenText{
    width: 0;
    position: absolute;
    right: 113px;
    top: 330px;
}

.toppingText {
    background-color: transparent;
}

#remakePizza {
    height: 75px;
    width: 100px;
    left: 465px;
    top: -20px;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
    color: whitesmoke;
}

#confirmPizza {
    height: 75px;
    width: 100px;
    left: 812.5px;
    top: -20px;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    background-color: green;
    color: whitesmoke;
}
